body{
    background:#f5f5f5;
    font-family:Arial,sans-serif;
    margin:0;
}

.container{
    width:700px;
    margin:30px auto;
}

h2{
    text-align:center;
    color:#555;
}

.chat-box{
    background:white;
    border-radius:10px;
    padding:20px;
    height:500px;
    overflow-y:auto;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.message{
    background:#fffbea;
    padding:10px;
    border-radius:10px;
    margin-bottom:15px;
    border-left:4px solid #ffe08a;
}

.sender{
    font-weight:bold;
    margin-bottom:5px;
    color:#555;
}

.time{
    font-size:12px;
    color:gray;
    margin-top:5px;
}

form{
    display:flex;
    gap:10px;
    margin-top:15px;
}

textarea{
    flex:1;
    padding:10px;
    resize:none;
    border:1px solid #ddd;
    border-radius:8px;
}

button{
    padding:10px 20px;
    cursor:pointer;
    background:#fff3b0;
    border:none;
    border-radius:8px;
    transition:0.3s;
}

button:hover{
    background:#ffe08a;
}

.user-list {
    margin-top: 20px;
}

.user-card {
    display: block;
    background: white;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-decoration: none; /* buang underline */
    color: #333; /* buang biru link */
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    transition: 0.2s;
}

.user-card:hover {
    background: #fffbea;
    transform: translateY(-2px);
}