<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Analytics</title>

<link rel="stylesheet" href="{{ url_for('static', filename='analytics.css') }}">
</head>
<body>




<!-- Topbar -->
<div class="topbar">
    <div>AssignMate</div>
    <input type="text" placeholder="Search 🔍︎">
    <div>Notifications | Filter</div>
    <div class="analytics-link">
    <a href="{{ url_for('analytics') }}" style="text-decoration: none; cursor: pointer;">
    📊 Analytics
    </a>
    </div>
    <div class="settings-link">
    <a href="/edit_profile" style="text-decoration: none; cursor: pointer;">
            🌣
        </a>
    </div>
</div>



<div class="analytics-container">

    <h1 class="page-title">Analytics</h1>

    <div class="analytics-grid">

        <div class="card">
            <h3>Completed</h3>
            <p class="task-count">{{ completed }} tasks</p>
            <p class="percentage">{{ completed_pct }}%</p>
        </div>

        <div class="card">
            <h3>Ongoing</h3>
            <p class="task-count">{{ ongoing }} tasks</p>
            <p class="percentage">{{ ongoing_pct }}%</p>
        </div>

        <div class="card">
            <h3>To Do</h3>
            <p class="task-count">{{ todo }} tasks</p>
            <p class="percentage">{{ todo_pct }}%</p>
        </div>

    </div>

    <div class="card overall-card">
        <h3>Overall Progress</h3>

        <div class="progress-bar">
            <div class="progress-fill"
                 style="width: {{ completed_pct }}%;">
                {{ completed_pct }}%
            </div>
        </div>
    </div>

</div>


</body>
</html>