<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Assignment</title>

<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

 <div class="dashboard">

        <div class="topbar">
            <div class="brand">
                <img src="{{ url_for('static', filename='images/Assignmate 2.png') }}" alt="Logo" class="brand-logo">
                <a href="{{ url_for('dashboard') }}">
                    <span>AssignMate</span>
                </a>
            </div>
            
            <div class="search-bar">
                <input type="text" placeholder="Search 🔍︎">
            </div>
            
            <div style="display: flex; align-items: center; gap: 15px;">
                
                <div class="nav-item dropdown">
                    <button class="topbar-btn"><i class="fa-solid fa-filter"></i>Filter
                    </button>
                    <div class="dropdown-content">
                        <form action="/dashboard" method="GET">
                            <div class="filter-group">
                                <label for="subject_filter">Subject</label>
                                <select name="subject_filter" id="subject_filter">
                                    <option value="All" {% if request.args.get('subject_filter') == 'All' or not request.args.get('subject_filter') %}selected{% endif %}>All Subjects</option>
                                    {% for subject in subjects %}
                                        <option value="{{ subject }}" {% if request.args.get('subject_filter') == subject %}selected{% endif %}>{{ subject }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="apply-btn">Apply Filter</button>
                        </form>
                    </div>
                </div>

                <div class="settings-link">
                    <a href="/editprofile"  class="topbar-btn">
                        <i class="fa-solid fa-gear"></i>
                    </a>    
                </div>
                
                <div class="analytics-link">
                    <a href="{{ url_for('analytics') }}" class="topbar-btn">
                        <i class="fa-solid fa-chart-line"></i>
                
                    </a>
                </div>

                <button id="openTimer" class="topbar-btn">
                    <i class="fa-solid fa-stopwatch"></i>
                </button>

                <div class="calendar-link">
                    <a href="{{ url_for('calendar_view') }}" class="topbar-btn">
                        <i class="fa-solid fa-calendar"></i>
                    </a>
                </div>

                <div class="personal-chat-link">
                    <a href="{{ url_for('personal_chat') }}" class="topbar-btn">
                        <i class="fa-solid fa-comments"></i>
                    </a>
                </div>
            </div>
        </div>


    <h1>{{ title }}</h1>

    <div class="cards" >

        <div class="card">
            <h3>Assignment Description</h3>
            <form method="POST">
                <textarea name="description">{{ description }}</textarea>
                <button type="submit" class="btn btn-save">Save</button>
            </form>
        </div>

        <div>
            <div class="card" style="margin-bottom:15px;">
                <h3>Members</h3>
                    {% for member in members %}
                    <div style="display:flex; align-items:center; gap:15px; margin-bottom:15px;">

                        {% if member['profile_pic'] %}
                            <img src="{{ url_for('uploaded_file', filename=member['profile_pic']) }}"
                                style="width:50px;height:50px;border-radius:50%;object-fit:cover;">
                        {% else %}
                            <img src="https://ui-avatars.com/api/?name={{ member['username'] }}&background=random"
                                style="width:50px;height:50px;border-radius:50%;object-fit:cover;">
                        {% endif %}

                        <strong>{{ member['username'] }}</strong>

                    </div>
                    {% endfor %}
            </div>
            <div class="card" style="margin-bottom:15px;">
                <h3>Comments</h3>
                {% for comment in comments %}
                    <p>• {{ comment }}</p>
                {% endfor %}

                <form method="POST">
                    <input type="text" name="comment" placeholder="Add note..." style="width:100%">
                    <button type="submit" class="btn btn-add">Add</button>
                </form>
            </div>

            <div class="card" style="margin-bottom:15px;">
                <h3>Activity Log</h3>

                {% for log in logs %}
                    <div style="margin-bottom:10px;">
                        <p>{{ log["activity"] }}</p>
                        <small>{{ log["timestamp"] }}</small>
                    </div>
                {% endfor %}
            </div>

                <div class="card">
                    <h3>Attachment</h3>

                    {% if attachment %}
                        {% for file in attachment %}

                        <div class="file-box">

                            <a href="{{ url_for('uploaded_file', filename=file) }}"
                            target="_blank">
                            {{ file }}
                            </a>

                            <a href="{{ url_for('delete_file', filename=file) }}"
                            class="btn btn-delete">
                            Delete
                            </a>

                        </div>

                        {% endfor %}

                    {% else %}
                        <p>No file uploaded</p>
                    {% endif %}

                    {% if attachment|length < 3 %}
                    <form method="POST" enctype="multipart/form-data">
                        <input type="file" name="file">

                        <button type="submit" class="btn btn-upload">
                            Upload
                        </button>
                    </form>
                    {% else %}
                        <p>Maximum 3 files uploaded.</p>
                    {% endif %}

            </div>

        </div>

        <div class="card">
            <h3>Assignment Status</h3>

            <form method="POST">
                <select name="status" style="width:100%; padding:8px; margin:10px 0;">
                    <option value="to_do" {% if status == "to_do" %}selected{% endif %}>📝 To Do</option>
                    <option value="ongoing" {% if status == "ongoing" %}selected{% endif %}>⏳ Ongoing</option>
                    <option value="completed" {% if status == "completed" %}selected{% endif %}>✅ Completed</option>
                </select>

                <button type="submit" class="btn btn-save">Update Status</button>
            </form>
        </div>

        <div class="card" style="margin-bottom:15px;">
                <h3>Group Chat</h3>
                    
                    <div style="margin-bottom:10px;">
                        <button class="btn btn-save" onclick="window.location.href='/chat'" title="Group Chat">Chat</button>
                    </div>
        </div>

    </div>

</div>

</body>
</html>