<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Assignment</title>

<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>

<body>

<div class="dashboard">

    <div class="topbar">
        <div>AssignMate</div>
        <input type="text" placeholder="Search 🔍︎">
        <div>Notifications | Filter</div>
        <div class="analytics-link">
    <a href="{{ url_for('analytics') }}" style="text-decoration: none; cursor: pointer;">
    📊 Analytics
    </a>
    </div>
        <div>⚙️</div>
    </div>

    <h1>{{ title }}</h1>

    <div class="cards" style="grid-template-columns: 2fr 1fr;">

        <div class="card">
            <h3>Assignment Description</h3>
            <form method="POST">
                <textarea name="description" rows="4" style="width:100;">{{ description }}</textarea>
                <button type="submit" class="btn btn-save">Save</button>
            </form>
        </div>

        <div>
            <div class="card" style="margin-bottom:15px;">
                <h3>Comments</h3>
                {% for comment in comments %}
                    <p>• {{ comment }}</p>
                {% endfor %}

                <form method="POST">
                    <input type="text" name="comment" placeholder="Add note..." style="width:100%">
                    <button type="submit" class="btn btn-add">Add</button>
                </form>
            </div>

            <div class="card">
                <h3>Attachment</h3>
                {% if attachment %}
                    <p>📁 {{ attachment }}</p>
                {% else %}
                    <p>No file uploaded</p>
                {% endif %}

                <form method="POST" enctype="multipart/form-data">
                    <input type="file" name="file">
                    <button type="submit" class="btn btn-upload">Upload</button>
                </form>
            </div>
        </div>

        <div class="card">
            <h3>Assignment Status</h3>

            <form method="POST">
                <select name="status" style="width:100%; padding:8px; margin:10px 0;">
                    <option value="to_do" {% if status == "to_do" %}selected{% endif %}>📝 To Do</option>
                    <option value="ongoing" {% if status == "ongoing" %}selected{% endif %}>⏳ Ongoing</option>
                    <option value="completed" {% if status == "completed" %}selected{% endif %}>✅ Completed</option>
                </select>

                <button type="submit" class="btn btn-save">Update Status</button>
            </form>
        </div>
    </div>

</div>

</body>
</html>