<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>

    <button class="add-btn" onclick="window.location.href='/add_assignment'">+</button>

    <div class="dashboard">

    <!-- Topbar -->
    <div class="topbar">
        <div>AssignMate</div>
        <input type="text" placeholder="Search 🔍︎">
        <div>Notifications | Filter</div>
        <div>🌣</div>
        <div><button id="openTimer" class="btn">⏱️</button></div>
    </div>

<div class="right">



    <div id="pomodoroPopup" class="pomodoro-popup">

        <div class="popup-header">
            <span id="mode">Work Time</span>
            <button id="closeTimer">&times;</button>
        </div>

        <h1 id="timer">25:00</h1>

        <div class="buttons">
            <button onclick="startTimer()">Start</button>
            <button onclick="pauseTimer()">Pause</button>
            <button onclick="resetTimer()">Reset</button>
        </div>

    </div>

    </div>

    <!-- Title -->
    <h1>Your Dashboard</h1>

        <div class="cards-container">
            <h3>Registered Subjects</h3>
            <div class="cards">
                {% if subjects %}
                    {% for subject in subjects %}
                        <a href="/subject/{{ subject }}" class="card-link">
                            <div class="card">
                                <span class="subject-tag">{{ subject }}</span>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <p class="no-data">No Assignments or subjects tracked yet. Click the + button to add one.</p>
                {% endif %}
            </div>
        </div>


<script src="{{ url_for('static', filename='pomodoro.js') }}"></script>

</body>
</html>