<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>Welcome again!</h2>
    <p>Please enter your details</p>

    <form action="/login" method="POST">
        <label>Username:</label>
        <input type="text" name="login" required>

        <label>Password:</label>
        <input type="password" name="password" required>

        <button type="submit">Log In</button>
    </form>

    <a href="/register">
        <button class="secondary">Create New Account</button>
    </a>

    <div style="margin-top: 20px" class="flex justify-between mt-5">
        <a href="/forgot-password" class="text-indigo-600 ml-2 cursor-pointer">Forgot Password</a>
    </div>

</div>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}

        <div id="loginErrorModal" class="login-error-modal">
            <div class="login-error-content">
                <h3>Login Failed</h3>
                <p>{{ message }}</p>

                <button onclick="closeLoginError()">Close</button>
            </div>
        </div>

        {% endfor %}
    {% endif %}
{% endwith %}

<script>
function closeLoginError() {
    document.getElementById("loginErrorModal").style.display = "none";
}
</script>
</script>
</body>
</html>