<head>
    <title>Personal Chat</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='personalChat.css') }}">
</head>

<body>

<div class="container">

    <h2>
        Chat with {{ target_user['username'] }}
    </h2>

    <div class="nav-bar">
    <a href="{{ url_for('dashboard') }}" class="exit-btn">Exit Chat</a>
     </div>


    <div class="chat-box">

        {% for msg in messages %}

        <div class="message">

            <div class="sender">
                {{ msg['sender_email'] }}
            </div>

            <div class="content">
                {{ msg['message'] }}
            </div>

        </div>

        {% endfor %}

    </div>

    <form action="{{ url_for('send_personal_message') }}"
          method="POST">

        <input
            type="hidden"
            name="receiver_email"
            value="{{ target_user['email'] }}">

        <textarea
            name="message"
            placeholder="Type message..."
            required>
        </textarea>

        <button type="submit">
            Send
        </button>

    </form>

</div>
</body>
</html>