<!DOCTYPE html>
<html>
<head>
    <title>Personal Chat</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='personalChat.css') }}">
</head>

<body>

<h2>Choose User</h2>

<div class="user-list">

{% if users %}

    {% for user in users %}

        <a class="user-card"
           href="{{ url_for('personal_chat_room', email=user['email']) }}">
            {{ user['username'] }}
        </a>

    {% endfor %}

{% else %}

    <p>No other users available.</p>

{% endif %}

</div>

</body>
</html>